.tip-button {
  padding: 20px 40px;
  border: 2px solid var(--primary-color);
  border-radius: var(--radius-sm);
  background-color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--text-primary);
  min-width: 120px;
  text-wrap: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tip-button:hover {
  background-color: var(--background-light);
  box-shadow: var(--shadow-md);
}

.tip-button.selected {
  background: var(--secondary-gradient);
  color: white;
}
